
*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

body
  height: 100%
  background: rgb(26, 25, 25)
  cursor: url('cursor-hand.png') 4 2
  overflow: hidden

body
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace
  font-size: 16px

.cli
  position: absolute
  border: none
  width: 100%
  height: 100%
  top: 0
  left: 0

.ace_content
  cursor: url('cursor-caret.png') 16 16

.dialog
  padding: 20px

.frame
  width: 800px
  height: 600px
  position: absolute
  top: 50%
  left: 50%
  margin-left: -400px
  margin-top: -300px

  border: 4px solid #1D1C1C
  border-radius: 5px
  color: #999
  box-shadow: 0 0 60px black
  background-color: black

  .scene
    position: relative
    height: 70%

    -webkit-transition: all 1s linear
    -o-transition: all 1s linear
    -moz-transition: all 1s linear
    -ms-transition: all 1s linear
    -kthtml-transition: all 1s linear
    transition: all 1s linear

    &.code
      box-shadow: 0 0 15px white

      .submit
        box-shadow: 0 0 15px white

    .submit
      -webkit-transition: all 1s linear
      -o-transition: all 1s linear
      -moz-transition: all 1s linear
      -ms-transition: all 1s linear
      -kthtml-transition: all 1s linear
      transition: all 1s linear

      width: 20%
      text-align: center
      position: absolute
      padding: 10px 25px
      border-top: 4px solid #1d1c1c
      border-radius: 8px 0 0 0
      bottom: 0
      right: 0
      border-left: 4px solid #1d1c1c
      background-color: rgb(36, 35, 35)
      color: rgb(90, 90, 90)

      &:hover
        background-color: rgb(42, 42, 42)

  .dialog
    overflow-y: scroll
    border-bottom: 4px solid #1D1C1C
    height: 30%

    .character
      color: #CE53A2

    .instructions
      color: #53A2CE

    p
      margin: 0
      padding: 0

