
%title The Choice

%link{:href=> 'choice.css', :rel => 'stylesheet'}
%link{:href=> 'profont.css', :rel => 'stylesheet'}

%script{:src => 'coffee-script.js'}
%script{:src => 'jquery.js'}
%script{:src => 'choice.js'}

.frame
  .scene
    %textarea.cli

    .submit
      Next &raquo;
  .dialog
