
%title The Choice

%link{:href=> 'choice.min.css?v3', :rel => 'stylesheet'}

%script{:src => 'coffee-script.js'}
%script{:src => 'jquery.js'}
%script{:src => 'js-yaml.js'}
%script{:src => 'speakClient.js'}
%script{:src => 'ace.js'}

%script{:src => 'choice.min.js?v3'}

#audio

.frame
  .box
    .box-header
      %h2 Transcript
    .box-body
  .dialog
  .scene
    .cli#editor

    .submit
      Next &raquo;
